---
title: Home
---
{% extends "layouts/base.njk" %}

<section>
  <h2>Welcome!</h2>
  <p>This is the homepage of my simple blog and resume website built with Eleventy v3.</p>
  <p>Check out my <a href="{{ '/blog/' | url }}">blog</a> or view my <a href="{{ '/resume/' | url }}">resume</a>.</p>
</section>