<header>
  <h1><a href="{{ '/' | url }}">{{ site.title }}</a></h1>
  <nav>
    <ul>
      {% for item in navigation %}
        <li><a href="{{ item.url | url }}" {% if page.url == item.url %}aria-current="page"{% endif %}>{{ item.text }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>