---
title: Blog
layout: layouts/base.njk
---

<h1>Blog</h1>

<p>Here are my latest posts:</p>

<ul>
  {% for post in collections.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
      <span class="meta">Published on: {{ post.data.date | readableDate }}</span>
    </li>
  {% endfor %}
</ul>